.container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button {
  /* border: none; */
  border: none;
  color: black;
  background-color: #9b979970;
  width: 5vh;
  height: 30px;
  margin: 1px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
  color: rgba(250, 250, 250, 0.925);
}

.btnselected {
  border: none;
  width: 5vh;
  height: 30px;
  margin: 1px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: rgba(250, 250, 250, 0.925);
}