.container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.button {
  border: none;
  color: black;
  background-color: rgba(78, 76, 76, 0.164);
  width: 4vh;
  height: 20px;
  margin: 1px;
  cursor: pointer;
  font-size: 0.8em;
}

.button:hover {
  background-color: var(--secondary-color);
  font-weight: bold;
}

.btnselected {
  border: none;
  width: 5vh;
  height: 30px;
  margin: 1px;
  cursor: pointer;
  background-color: var(--secondary-color);
  
}