.container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button {
  /* border: none; */
  border: none;
  border-radius: 0.1em;
  color: black;
  background-color: #9b979970;
  width: 5vh;
  height: 30px;
  margin: 1px;
  cursor: pointer;
  font-size: 0.8em;
  
}

.button:hover {
  background-color: var(--secondary-color);
  font-weight: bold;
}

.btnselected {
  border: none;
  width: 5vh;
  height: 30px;
  margin: 1px;
  cursor: pointer;
  background-color: var(--secondary-color);
  
}