:root {
  --theme-color: linear-gradient(-225deg, #7085b634 0%, #87a6d94f 0%, #ffffffb9 0%), url(https://www.teahub.io/photos/full/260-2604238_wallpaper-dog-look-up-black-background-perros-envenenados.jpg); 
  --primary-color: #181818;
  --secondary-color: #e7a52ae1;
  --tertiary-color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--theme-color);
  color: var(--primary-color);
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
