.containerDetail {
    /* background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%); */
    /* width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative; */
    /* display: flex;
    flex-direction: columns;
    justify-content: center; */
}

.divDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 10px;  */
    /* margin-top: 20px;
    padding: 10px; */
    /* width: 500px;
    height: 350px; */
    border-color: blue;
}

.image {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin-top: 10px;
}