.container {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.52);
  padding: 0 1rem;
}

.containerLogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
  color: var(--secondary-color);
  border: none;
  height: 35px;
  border-radius: 3px;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

.containerLogo p:hover {
  text-shadow: 0 0 10px var(--secondary-color);
}

.textLogo {
  display: none;
  font-size: 1em;
  color: var(--secondary-color);
  border: none;
  height: 35px;
  border-radius: 3px;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

/* Para notebook */
@media (min-width: 600px){
  .textLogo {
    display: block;
  }
}

.logo {
  width: 45px;
  height: 45px;
  background-color: var(--secondary-color);
  border-radius: 999px;
  margin-right: 10px;
}

.btn {
  font-size: 1em;
  color: var(--secondary-color);
  border: none;
  height: 35px;
  border-radius: 3px;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  text-shadow: 0 0 10px var(--secondary-color);
}
