.container_navBar {
  /* width: 100%;
    position: fixed;
    z-index: 100;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(54, 81, 148);
  padding-left: 30px;
  padding-right: 30px;
}

.btn_NavBar {
  border: none;
  height: 35px;
  width:110px;
  border-radius: 3px;
  color: black;
  background-color: rgba(235, 235, 235, 0.856);
}
