.container {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.52);
  padding: 0 1rem;
}

.btn {
  font-size: 0.9em;
  color: var(--text-color-inverse);
  border: none;
  height: 35px;
  border-radius: 3px;
  background: none;
}

.btn:hover {
  color: var(--text-color);
  background-color: rgba(235, 235, 235, 0.856);
}
