.containerLanding{
    display:block;    
    background-image:url(https://www.teahub.io/photos/full/260-2604238_wallpaper-dog-look-up-black-background-perros-envenenados.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
    min-width: 100vh;  
}

.divLanding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh; 
    min-width: 50vh;  
}

.btnLanding {
    border: none;
    color: rgb(224, 223, 223);
    background-color: #4c474975;
    width: 20vh;
    height: 20vh;
    border-radius: 999px;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    font-weight:bold;
    font-size: larger;
}
  
.btnLanding:hover {
    background-color: rgba(119, 110, 110, 0);
    color: rgb(224, 223, 223);
    border:0.1em solid #eeebeb;
}


