.containerDogs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(230px, 250px)) ;
  align-items: center;
  gap: 1em;
  background-color: var(--theme-color); 
}

@media (min-width: 900px){
  .containerDogs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(200px, 250px)) ;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
    align-items: center; 
  }
}
